---
---
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Jo Wong Design | 404 Oops</title>

	<link href="/main.css" rel="stylesheet">

</head>

<body class="is-preload">
	{% include /header.html %}
	<main>

		<div class="container py-5">
			<div class="row">
				<div class="col-md-8 offset-md-2 mb-4">
					<h1 class="text-center">404 Error</h1>
					<img src="/assets/images/shadow.jpg" class="img-fluid mb-4" alt="Shadow 404">
					<p class="text-center"> Ooopsie doopsie. Something went wrong. The page you were looking for does not exist!<br> If you
						got to
						this page by clicking a link, please notify us so we can fix this error :)
					</p>
					<div class="d-grid gap-2 col-4 mx-auto">
						<a href="/index.html" class="btn btn-primary">Return Home</a>
					</div>
				</div>
			</div>
		</div>0
		</div>
	</main>
	{% include /footer.html %}
</body>

</html>