---
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jo Wong Design | About Me</title>

  <link href="/main.css" rel="stylesheet">

</head>

<body>
  {% include /header.html %}

  <main>
    <div class="container py-5">
      <div class="row">
        <div class="col-md-8 offset-md-2 mb-4">
          <h2>About</h2>
          <p class="fs-5">
            Hi I'm Jo! I'm a Nottingham based creative specialising in print and digital design, with a M.A. in Design
            and B.A. Interactive Design from the University of Lincoln.
          </p>
          <p class="fs-5">
            I am currently experiencing peak whimsy in my work life. I currently work at Blind Box Empire, selling
            specially curated blind boxes from around the world. I've also been selling my art at markets.
          </p>
          <p class="fs-5">
            My ultimate career goal is to sink myself in a full time design role that can either utilise my technical
            skills, or around my primary interests (beauty and healthcare, music and travel).
          </p>
        </div>
        <div class="col-md-8 offset-md-2 mb-4">
          <h2>FAQ</h2>
          <p class="fs-5">
            <b>Why did you leave your role at We Print Lanyards to work in retail?</b> <br>
            My mum passed away really suddenly of cancer. I tried to get back life back as usual, but the grief, extra
            responsibilities both in and out of work was too much.
          </p>
        </div>
        <div class="col-md-8 offset-md-2 mb-4">
          <h2>Market Archive</h2>
          <h3>2026</h3>
          <div class="list-group mb-4">
            <p>June 28th - Rooftop Market - Nottingham, UK</p>
            <p>June 13th/14th - EM-Con - Nottingham, UK</p>
            <p>May 31st - The Derby Makers Market - Derby, UK</p>
            <p>May 9th - Nook Market Pop-Up - Nottingham, UK</p>
            <p>April 17th - Big Queer Market - Nottingham, UK</p>
            <p>February 7th - Urban Garden Fair - London, UK</p>
          </div>
          <h3>2025</h3>
          <div class="list-group mb-4">
            <p>December 13th/14th - Winter Market - Nottingham, UK</p>
            <p>December 7th - Cobden Christmas Market - Nottingham, UK</p>
            <p>December 6th - Community Christmas Market - Nottingham, UK</p>
            <p>October 11th/12th - Moonbuns x Pink Menace Queer Craft Market - Nottingham UK</p>
            <p>July 26th - Hell Smells and DeathBanni's Pride Market - Nottingham, UK</p>
            <p>June 28th - 30th - Blind Box Empire Pop-Up Shop - Nottingham, UK</p>
            <p>June 21st - Nottingham Queer Arts Collective x Nottingham Trans Pride - Nottingham, UK</p>
          </div>
        </div>
      </div>
  </main>

  {% include /footer.html %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>

</body>

</html>