---
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jo Wong Design | Portfolio</title>

  <link href="/main.css" rel="stylesheet">

</head>

<body>
  <!-- <img src="/assets/images/shadow.jpg" class="img-fluid" alt="Porfolio Home Header Banner"> -->
  {% include /header.html %}

  <main>
    <div class="container py-5">
      <div class="row">
        <div class="col-md-4 mb-4">
          <a class="nav-link" href="/portfolio/santa-cards.html">
            <div class="img-hover-wrap">
              <img src="/assets/images/Thumbnails/santalicense.jpg" class="img-thumbnail" alt="Santa PVC ID Card">
              <div class="img-hover-overlay fs-4">
                <span>Santa Cards</span>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4 mb-4">
          <a class="nav-link" href="/portfolio/data-merging.html">
            <div class="img-hover-wrap">
              <img src="/assets/images/Thumbnails/diggi.jpg" class="img-thumbnail"
                alt="Digituff Event Passes">
              <div class="img-hover-overlay fs-4">
                <span>Data Merging</span>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4 mb-4">
          <a class="nav-link" href="/portfolio/george-winnie-the-pooh.html">
            <div class="img-hover-wrap">
              <img src="/assets/images/Thumbnails/poohshirt.jpg" class="img-thumbnail" alt="George Winnie The Pooh">
              <div class="img-hover-overlay fs-4">
                <span>George at ASDA x Winnie the Pooh | Change a Girl's Life</span>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4 mb-4">
          <a class="nav-link" href="/portfolio/wpl-webui.html">
            <div class="img-hover-wrap">
              <img src="/assets/images/Thumbnails/wplweb.jpg" class="img-thumbnail" alt="We Print Lanyards Web UI">
              <div class="img-hover-overlay fs-4">
                <span>We Print Lanyards Web UI</span>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4 mb-4">
          <a class="nav-link" href="/portfolio/entropy-soaps.html">
            <div class="img-hover-wrap">
              <img src="/assets/images/Thumbnails/es.jpg" class="img-thumbnail" alt="Entropy Soaps">
              <div class="img-hover-overlay fs-4">
                <span>Entropy Soaps</span>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4 mb-4">
          <a class="nav-link" href="/portfolio/barber-black-sheep.html">
            <div class="img-hover-wrap">
              <img src="/assets/images/Thumbnails/bbs.jpg" class="img-thumbnail" alt="Barber Black Sheep">
              <div class="img-hover-overlay fs-4">
                <span>Barber Black Sheep</span>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4 mb-4">
          <a class="nav-link" href="/portfolio/illustration.html">
            <div class="img-hover-wrap">
              <img src="/assets/images/Thumbnails/nes.jpg" class="img-thumbnail" alt="Illustration">
              <div class="img-hover-overlay fs-4">
                <span>Illustration</span>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4 mb-4">
          <a class="nav-link" href="/portfolio/little-bean.html">
            <div class="img-hover-wrap">
              <img src="/assets/images/Thumbnails/littlebean.jpg" class="img-thumbnail" alt="Little Bean Homemade">
              <div class="img-hover-overlay fs-4">
                <span>Little Bean Homemade</span>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4 mb-4">
          <a class="nav-link" href="/portfolio/typography.html">
            <div class="img-hover-wrap">
              <img src="/assets/images/Thumbnails/typo.jpg" class="img-thumbnail" alt="Typography">
              <div class="img-hover-overlay fs-4">
                <span>Typography</span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </main>

  {% include /footer.html %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>

</body>

</html>