---
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jo Wong Design | Barber Black Sheep</title>

  <link href="/main.css" rel="stylesheet">

</head>

<body>
  {% include /header.html %}

  <main>
    <div class="container py-5">
      <div class="row">
        <div class="col-md-8 offset-md-2 mb-4">
          <h2>Barber Black Sheep</h2>
          <h5>InDesign • ProCreate</h5>
          <p class="fs-5">Barber Black Sheep is an alternative hair salon in Lincoln, United Kingdom. For this project I made a new business card, appointment card and gift certificate for them, using existing logos.</p>
          <div class="col-md-12 mb-4">
            <img src="/assets/images/marketing/bbsbusiness.jpg" class="img-fluid" alt="...">
          </div>
          <div class="col-md-12">
            <div class="row">
              <img src="/assets/images/marketing/bbsappt.png" class="img-fluid col-md-6 mb-4" alt="...">
              <img src="/assets/images/marketing/bbsgift.png" class="img-fluid col-md-6 mb-4" alt="...">
            </div>
          </div>
        </div>
  </main>

  {% include /footer.html %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>

</body>

</html>