---
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jo Wong Design | Data Merging</title>

  <link href="/main.css" rel="stylesheet">

</head>

<body>
  {% include /header.html %}

  <main>
    <div class="container py-5">
      <div class="row">
        <div class="col-md-8 offset-md-2 mb-4">
          <h2>Variable Data, Data Merging, Event Cards</h2>
          <h5>Layout Design • Template Design • Handling Variable Data • Data Merging | InDesign • Excel • Illustrator •
            Canon Fiery</h5>
          <div class="col-md-8 offset-md-2 mb-4">
            <img src="/assets/images/WPL/Digituff Squares-.jpg" class="img-fluid" alt="...">
          </div>
          <div class="col-md-12 mb-4">
            <div class="row">
              <img src="/assets/images/WPL/Digituff Squares-2.jpg" class="img-fluid col-md-6" alt="...">
              <img src="/assets/images/WPL/Digituff Squares-4.jpg" class="img-fluid col-md-6" alt="...">
            </div>
          </div>
          <p class="fs-5">We Print Lanyards introduced a new product line called Digituff, alongside their existing
            variable data products (PVC cards and Foam name badges). Digituff is durable polyester sheet. Instead of UV
            printing on pre-cut cards, Digituff can be printed using inkjet and laser jet printers and die-cut
            afterwards, which allows for more variation in sizes of card. </p>
          <p class="fs-5">For this new product I had to develop the working practices and create sample cards for
            customers that can demonstrate the product. </p>
          <p class="fs-5">Initially, Digituff print images were created on Active Reports, however it had its
            limitations. It would have to generate each line as an image, and those images would get imported again onto
            the print template. This method often lead to images being missing and would lead to the whole print run
            being mismatched. </p>
          <p class="fs-5">Being that I'm more familiar with InDesign, I wanted to see what is possible to do on it.
            Which is where I learnt about data merging. In addition to being able to export images with different text,
            I could change colours and barcodes through the data set. I would love to waffle on about the technical
            parts, but I would give away too many of my secrets.</p>
          <div class="col-md-12 mb-4">
            <div class="row">
              <img src="/assets/images/WPL/Digituff Squares-3.jpg" class="img-fluid col-md-6" alt="...">
              <img src="/assets/images/WPL/Digituff Squares-5.jpg" class="img-fluid col-md-6" alt="...">
            </div>
          </div>
          <p class="fs-5">For the sample products, I want to inspire and show limitations of the product. I wanted to
            show the good parts of the products: custom sizes, what data can be customised, and what data can look like
            in practice (long names go on 2 lines, circular images). I also wanted to show limitations of the product
            and set some expectations, such as setting a visual standard for how much bleed space to leave, the amount
            of detail in images or font size. </p>
        </div>
  </main>

  {% include /footer.html %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>

</body>

</html>