---
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jo Wong Design | Entropy Soaps</title>

  <link href="/main.css" rel="stylesheet">

</head>

<body>
  {% include /header.html %}

  <main>
    <div class="container py-5">
      <div class="row">
        <div class="col-md-8 offset-md-2 mb-4">
          <h2>Entropy Soaps</h2>
          <h5>InDesign • Photoshop</h5>
          <p class="fs-5">This was their Master's project, where they created a series of soap packaging that would subvert gendered and gender neutral packaging on health and beauty products. At the time they were interested in making artisanal soaps and gender studies. They believe that ones gender expression is unique to them and that it there is a lot of potential in having expressive packaging. </p>
          <div class="col-md-12 mb-4">
            <img src="/assets/images/branding/soap2.jpg" class="img-fluid" alt="...">
          </div>
          <div class="col-md-12">
            <div class="row">
              <img src="/assets/images/branding/skullsoap.png" class="img-fluid col-md-4 mb-4" alt="...">
              <img src="/assets/images/branding/sweetsoap.png" class="img-fluid col-md-4 mb-4" alt="...">             
              <img src="/assets/images/branding/cloudsoap.png" class="img-fluid col-md-4 mb-4" alt="...">
            </div>
          </div>
        </div>
  </main>

  {% include /footer.html %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>

</body>

</html>