---
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jo Wong Design | George at ASDA x Winnie the Pooh</title>

  <link href="/main.css" rel="stylesheet">

</head>

<body>
  {% include /header.html %}

  <main>
    <div class="container py-5">
      <div class="row">
        <div class="col-md-8 offset-md-2 mb-4">
          <h2>George at ASDA x Winnie the Pooh | Change a Girl's Life</h2>
          <h5>Ideating • Mood Board • Collaboration</h5>
          <div class="col-md-12">
            <div class="row">
              <img src="/assets/images/Pooh/5059205731139_A.webp" class="img-fluid col-md-6 mb-4" alt="...">
              <img src="/assets/images/Pooh/IMG_3798.jpg" class="img-fluid col-md-6 mb-4" alt="...">
            </div>
          </div>
          <p class="fs-5">I participated in a King's Trust programme to celebrate the 100th anniversary of Disney's
            Winnie the Pooh with George at ASDA, by creating a fashion collection.</p>
          <p class="fs-5">The George children's design team gave a talk about what was popular in their existing kids
            line of clothing - there was a Stitch themed football jersey that really caught my eye. It reminded me of
            the Brazilian football t-shirt that was trending a few years ago. The ASDA consumer base tends to be towards
            the end of a trend, so arguably another sports styled shirt would fit well with their timeline.</p>
          <p class="fs-5">During the ideation phase, we looked through fashion magazines, fabric samples, and booklets
            with various assets we were able to use. We were told about various production limitations. Due to the fast
            turn-around, the t-shirts were being manufactured in one of their factories in Turkey which limited the
            complexity of the designs. I watched and listened to other peoples ideas. They associated Pooh with
            childhood and comfort, and gravitated towards feminine pastel colours. This differed from my vision of Pooh.</p>
          <div class="col-md-8 offset-md-2 mb-4">
              <img src="/assets/images/Pooh/IMG_1756.jpg" class="img-fluid" alt="...">
          </div>
          <p class="fs-5">When I was a child, my favourite film was The Many Adventures of Winnie the Pooh. I watched it basically on repeat. Pooh wasn't defined by his age, race or gender. He's defined by his questionable problem solving skills, such as rolling in the mud so he can disguise himself as a raincloud. He doesn't think, he's just living life in the moment. That be came the person I wanted to design for.</p>
          <p class="fs-5">I imagined her as a kid who was adventurous, creates problems and wasn't afraid of getting muddy. She would need clothing that was light, breathable and comfortable. She's the type that sneers at being put in a box, I imagine her becoming irate when people buy her pink and lilac things.</p>
          <p class="fs-5">I think about her as a teenager and young adult. She's a bit more comfortable in her skin and has found her style. She follows the Y2K styling trends on Tiktok. She wears the shirt as a baby-tee paired with a huge pair of cargo jeans and a fluffy hat. </p>
          <p class="fs-5">Looking through the resources, I looked for things that were bold, sporty and androgynous.</p>
          <p class="fs-5">I came across a icon set that included some logos that reminded me of a football uniform, and Pantone swatches.</p>
          <div class="col-md-12 mb-4">
              <img src="/assets/images/Pooh/IMG_1764.jpg" class="img-fluid" alt="...">
          </div>
          <p class="fs-5">There were some changes to the colour placement to ensure that the t-shirt was legible. There was the added detail of adding 100 on the back to further commemorate the 100 anniversary of Winnie the Pooh.</p>
          <p class="fs-5">6 months later, we went down to London for the product launch. </p>
          <div class="col-md-12">
              <img src="/assets/images/Pooh/IMG_3796.jpg" class="img-fluid mb-4" alt="...">
              <img src="/assets/images/Pooh/IMG_3826.jpg" class="img-fluid mb-4" alt="...">
              <img src="/assets/images/Pooh/IMG_3821.jpg" class="img-fluid mb-4" alt="...">
              <img src="/assets/images/Pooh/Screenshot 2026-06-20 at 13.45.54.png" class="img-fluid mb-4" alt="...">
          </div>

          <p class="fs-6">View them live: <a href="https://direct.asda.com/george/kids/tops-t-shirts/the-kings-trust-x-disney-winnie-the-pooh-kids-football-jersey/GEM1404473,default,pd.html">Girls</a> | 
            <a href="https://direct.asda.com/george/women/tops/the-kings-trust-x-disney-winnie-the-pooh-womens-football-jersey/G008362378,default,pd.html?cgid=D1M1G20C2"> Womens </a></p>

        </div>
  </main>

  {% include /footer.html %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>

</body>

</html>