---
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jo Wong Design | Illustration</title>

  <link href="/main.css" rel="stylesheet">

</head>

<body>
  {% include /header.html %}

  <main>
    <div class="container py-5">
      <div class="row">
        <div class="col-md-8 offset-md-2 mb-4">
          <h2>Illustration</h2>
          <h5>Photoshop • ProCreate • Illustrator</h5>
          <h3>Digital Art</h3>
          <div class="col-md-12">
            <div class="row">
              <img src="/assets/images/illustration/trishlikefish.jpg" class="img-fluid col-md-4 mb-4" alt="...">
              <img src="/assets/images/illustration/Katya.png" class="img-fluid col-md-4 mb-4" alt="...">
              <img src="/assets/images/illustration/junobirch.jpeg" class="img-fluid col-md-4 mb-4" alt="...">
            </div>
            <div class="row">
              <img src="/assets/images/illustration/noeyesee.jpg" class="img-fluid col-md-8 mb-4" alt="...">
              <img src="/assets/images/illustration/eyejumper.jpg" class="img-fluid col-md-4 mb-4" alt="...">
            </div>
            <div class="row">
              <img src="/assets/images/illustration/Contrapoints.png" class="img-fluid col-md-4 mb-4" alt="...">
              <img src="/assets/images/illustration/christmas.png" class="img-fluid col-md-4 mb-4" alt="...">
              <img src="/assets/images/illustration/blink.gif" class="img-fluid col-md-4 mb-4" alt="...">
            </div>
          </div>
          <hr>
          <h3>Stickers</h3>
          <div class="col-md-12 mb-4">
            <img src="/assets/images/illustration/Stickers.png" class="img-fluid" alt="...">
          </div>
          <div class="col-md-12">
            <div class="row">
              <img src="/assets/images/illustration/blobbysticker.jpg" class="img-fluid col-md-6 mb-4" alt="...">
              <img src="/assets/images/illustration/sonicsticker.jpg" class="img-fluid col-md-6 mb-4" alt="...">
            </div>
            <div class="row">
              <img src="/assets/images/illustration/pridesticker.jpg" class="img-fluid col-md-6 mb-4" alt="...">
              <img src="/assets/images/illustration/miscstickers.jpg" class="img-fluid col-md-6 mb-4" alt="...">
            </div>
          </div>
        </div>
      </div>


  </main>

  {% include /footer.html %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>

</body>

</html>