---
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jo Wong Design | Santa Cards</title>

  <link href="/main.css" rel="stylesheet">

</head>

<body>
  {% include /header.html %}

  <main>
    <div class="container py-5">
      <div class="row">
        <div class="col-md-8 offset-md-2 mb-4">
          <h2>Santa Cards</h2>
          <h5>Product Development • Graphic Design • Illustration | Illustrator • Web Bureau</h5>
          <img src="/assets/images/WPL/licence.png" class="img-fluid col-md-8 offset-md-2 mb-4" alt="...">
          <p class="fs-5">In the early 2020s there was a trend of 'things left behind by Santa', where parents
            leave proof of Santa visiting their home; such as snowy footprint, cookie crumbs or a note.</p>
          <p class="fs-5">The task was to create a product (PVC card) that Santa would leave behind after
            visiting. Some initial ideas were a “Santa was here” card, which I wasn't a huge fan of. I remember what I
            was like as a kid - I was the type that would poke holes in everything, and I don't think 8 year old me
            would be convinced that Santa would leave a PVC card saying he had dropped by. It's simply too durable and
            non-biodegradable friendly for that purpose.</p>
          <p class="fs-5">If something was on a PVC card it would have to be important! Like an ID card or a
            driving license… a driving license… from the DVLSleigh?</p>
          <p class="fs-5">Let's start from there. </p>
          <div class="col-md-12">
            <div class="row">
              <img src="/assets/images/WPL/Sample ID Driving License.jpg" class="img-fluid col-md-6 mb-4" alt="...">
              <img src="/assets/images/WPL/Sample ID Driving License back.jpg" class="img-fluid col-md-6 mb-4" alt="...">
            </div>
          </div>
          <p class="fs-5">If we look at a standard British driving license, we have 2 designs - one full driving
            license and one for provisional. There are two colour ways - a purple-pink design and a yellow-green design,
            with a matching overlay. The colourful appearance will be attractive and interesting to children. There's a
            lot of text, which can be used as an opportunity to educate as well which gives the item a bit more
            longevity in terms of interest and usefulness.</p>
          <p class="fs-5">On the front of the ID card we have identification information: photo, name, issued by
            etc. On the back it shows the vehicles that are useable by the card holder as well as an explanation for
            what each line of the front of the ID card corresponds to. </p>
          <p class="fs-5">Concept: a pilots license for Santa and his elves.</p>
          <img src="/assets/images/WPL/licence.png" class="img-fluid col-md-8 offset-md-2 mb-4" alt="...">
          <p class="fs-5">On the top left hand corner, we have the International Flag of Planet Earth, proposed by
            Oskar Pernefeldt, which reminiscent of the flag of Europe. </p>
          <p class="fs-5">The DVLSleigh logo is based on the UN logo which has the olive branches.</p>
          <p class="fs-5">The back side of the card explores what other countries call Father Christmas and how
            they say 'Merry Christmas'. </p>
          <p class="fs-5">I created this design on Illustrator, and also created a version on Web Bureau so people
            are able to input their own name and photo to customise the designs. </p>
          <p class="fs-5">When this product was released on Etsy we received custom orders with people dressed up
            as elves, so it became a fun novelty item for the office! </p>
        </div>
  </main>
  
  {% include /footer.html %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>

</body>

</html>