---
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jo Wong Design | Typography</title>

  <link href="/main.css" rel="stylesheet">

</head>

<body>
  {% include /header.html %}

  <main>
    <div class="container py-5">
      <div class="row">
        <div class="col-md-8 offset-md-2 mb-4">
          <h2>Typography</h2>
          <h5>Photoshop • Premier Pro • Collaging • Illustrator</h5>
          <h3>Collaging</h3>
          <div class="col-md-8 offset-md-2 mb-4">
            <img src="/assets/images/typography/Mouthfeel.jpg" class="img-fluid" alt="...">
          </div>
          <div class="col-md-12">
            <div class="row">
              <img src="/assets/images/typography/your-pain-is-real.jpg" class="img-fluid col-md-4 mb-4" alt="...">
              <img src="/assets/images/typography/hoos-birthday.jpg" class="img-fluid col-md-4 mb-4" alt="...">
              <img src="/assets/images/typography/not-my-problem.jpg" class="img-fluid col-md-4 mb-4" alt="...">
            </div>
          </div>
          <hr>
          <h3>Animated Alphabet</h3>
          <p class="fs-5">This project was to use physical objects to create a series of animated letters. I used the
            movement of a music box with a moving magnet mechanic.</p>
          <div class="col-md-8 ratio ratio-16x9 mb-4"><iframe src="https://player.vimeo.com/video/219759163" width="640"
              height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen=""></iframe>
          </div>
          <hr>
          <h3>The Medium is the Message</h3>
          <p class="fs-5">A term coined by Marshall McLuhan, to mean that the form of the message (print, visual,
            musical, etc.) determines the way the message is perceived.</p>
          <div class="col-md-12">
            <div class="row">
              <img src="/assets/images/medium/1.jpg" class="img-fluid col-md-4 mb-4" alt="...">
              <img src="/assets/images/medium/2.jpeg" class="img-fluid col-md-4 mb-4" alt="...">
              <img src="/assets/images/medium/3.jpeg" class="img-fluid col-md-4 mb-4" alt="...">
            </div>
            <div class="row">
              <img src="/assets/images/medium/5.jpeg" class="img-fluid col-md-4 mb-4" alt="...">
              <img src="/assets/images/medium/6.jpeg" class="img-fluid col-md-4 mb-4" alt="...">
              <img src="/assets/images/medium/7.jpeg" class="img-fluid col-md-4 mb-4" alt="...">
            </div>
            <div class="row">
              <img src="/assets/images/medium/8.jpeg" class="img-fluid col-md-4 mb-4" alt="...">
              <img src="/assets/images/medium/9.jpeg" class="img-fluid col-md-4 mb-4" alt="...">
              <img src="/assets/images/medium/10.jpeg" class="img-fluid col-md-4 mb-4" alt="...">
            </div>
          </div>
          <hr>
          <h3>Campus</h3>
          <p class="fs-5">This project was to implament photographs into text. </p>
          <div class="col-md-8 offset-md-2 mb-4">
            <img src="/assets/images/CAMPUS/animated.webp" class="img-fluid" alt="...">
          </div>
          <div class="col-md-12">
            <div class="row">
              <img src="/assets/images/CAMPUS/T.png" class="img-fluid col-md-4 mb-4" alt="...">
              <img src="/assets/images/CAMPUS/U.png" class="img-fluid col-md-4 mb-4" alt="...">
              <img src="/assets/images/CAMPUS/V.png" class="img-fluid col-md-4 mb-4" alt="...">
            </div>
          </div>
          <hr>
          <h3>Typography on Illustrator</h3>
          <p class="fs-5">Typography experiments using Illustrator.</p>
          <div class="col-md-12">
            <div class="row">
              <img src="/assets/images/typography/urgh.JPG" class="img-fluid col-md-4 mb-4" alt="...">
              <img src="/assets/images/typography/dumphim.JPG" class="img-fluid col-md-4 mb-4" alt="...">
              <img src="/assets/images/typography/dontlook.JPG" class="img-fluid col-md-4 mb-4" alt="...">
            </div>
          </div>
          <hr>
          <h3>Hand Lettering</h3>
          <p class="fs-5">A picture can say a thousand words, but how many words can a picture of words say?</p>
          <div class="col-md-12">
            <div class="row">
              <img src="/assets/images/typography/honey.jpg" class="img-fluid col-md-6 mb-4" alt="...">
              <img src="/assets/images/typography/miley.jpeg" class="img-fluid col-md-6 mb-4" alt="...">
            </div>
            <div class="row">
              <img src="/assets/images/typography/novacation.jpg" class="img-fluid col-md-6 mb-4" alt="...">
              <img src="/assets/images/typography/petrolgirls.jpg" class="img-fluid col-md-6 mb-4" alt="...">
            </div>
          </div>
        </div>
      </div>


  </main>

  {% include /footer.html %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>

</body>

</html>