---
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jo Wong Design | We Print Lanyards Web UI</title>

  <link href="/main.css" rel="stylesheet">

</head>

<body>
  {% include /header.html %}

  <main>
    <div class="container py-5">
      <div class="row">
        <div class="col-md-8 offset-md-2 mb-4">
          <h2>We Print Lanyards Web UI</h2>
          <h5>Figma • Photoshop Visual • Studio Code</h5>
          <p class="fs-5">Revised design and journey of the online shop to improve brand consistency and userbility on
            desktop and mobile. Worked in conjunction with our marketing agency to facilitate strong SEO while ensuring
            design goals were met. Mock-ups were created using Figma and realised by the development team.</p>
          <h3>Proof Page</h3>
          <p class="fs-5">Updating proof page for customers to be more user friendly on web platform, to improve
            customer journey and streamline interactions with the artwork team.</p>
          <p class="fs-5">Figma design document is avalable to view <a
              href="https://www.figma.com/design/krI6thTYYzUikgb1XF1JAZ/Website-Account-Mockups?m=auto&t=vIdQ9AosTKY4tYIb-6">here</a><br>
            Figma interactive prototype is avalable to view <a
              href="https://www.figma.com/proto/krI6thTYYzUikgb1XF1JAZ/Website-Account-Mockups?node-id=38-3377&p=f&t=bOZxCSmkKfhxOsbO-1&scaling=min-zoom&content-scaling=fixed&page-id=0%3A1&starting-point-node-id=38%3A3377&show-proto-sidebar=1">here</a>
          <div class="col-md-12">
            <div class="row">
              <img src="/assets/images/WPL/Proof - Lanyard, Unapproved 1 Star.jpg" class="img-fluid col-md-4 mb-4" alt="...">
              <img src="/assets/images/WPL/Proof - Lanyard, Unapproved 2 Star.jpg" class="img-fluid col-md-4 mb-4" alt="...">
              <img src="/assets/images/WPL/Proof - Lanyard, Unapproved 3 Star.jpg" class="img-fluid col-md-4 mb-4" alt="...">
            </div>
            <div class="row">
              <img src="/assets/images/WPL/Proof - Lanyard, Unapproved 4 Star.jpg" class="img-fluid col-md-4 mb-4" alt="...">
              <img src="/assets/images/WPL/Proof - Lanyard, Unapproved 5 Star.jpg" class="img-fluid col-md-4 mb-4" alt="...">
              <img src="/assets/images/WPL/Proof - Lanyard, Approved.jpg" class="img-fluid col-md-4 mb-4" alt="...">
            </div>
          </div>
          <hr>
          <h3>Category Page</h3>
          <p class="fs-5">New and consistent product photos, changed thumbnails so they better suit the brand
            guidelines, added features to improve usibilty - carousel and product filters.
            Below images show before, after and mock-ups respectively. </p>
          <p class="fs-6">Live version is avaliable to view <a href="https://www.weprintlanyards.com/Shop/All">here</a>
          <div class="col-md-12 mb-4">
            <img src="/assets/images/WPL/shop-mock.jpg" class="img-fluid" alt="...">
          </div>
          <hr>
          <h3>Product Pages</h3>
          <p class="fs-5">Vastly improved userbility. Losenges for colours are now easier to browse as well as
            allow
            those who may have visual impairments to navigate between the colours. Utalised text heirarchy to
            emphasies
            important information to the user, and guide them around the page. </p>
          <p class="fs-6">Live version is avaliable to view <a
              href="https://www.weprintlanyards.com/Shop/Conference-Lanyards/Plain-Lanyard-916">here</a>
          <div class="col-md-12">
            <div class="row">
              <img src="/assets/images/WPL/product-before.png" class="img-fluid col-md-6 mb-4" alt="...">
              <img src="/assets/images/WPL/product-after.png" class="img-fluid col-md-6 mb-4" alt="...">
            </div>
          </div>
          <hr>
          <h3>Email Template</h3>
          <p class="fs-5">Redesign of Email Templates </p>
          <div class="col-md-12 mb-4">
            <img src="/assets/images/WPL/ammendapprove.png" class="img-fluid" alt="...">
          </div>
        </div>
  </main>

  {% include /footer.html %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>

</body>

</html>